@import "tailwindcss";

.label-custom {
  display: block;
  color: white;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  position: absolute;
  bottom: 2rem;
  padding-bottom: 0.25rem;
}

.input {
  border: 1px solid white;
  background-color: white;
  border-radius: 0.375rem;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 0.5rem;
  color: #000000;
}
.shadow-custom {
  box-shadow: 0px 7px  10px rgba(208, 0, 255, 0.4);
}

.neon-glow {
  color: #A855F7; ;
  text-shadow: 0 0 1px #A855F7, 0 0 1px #A855F7 , 0 0 5px #A855F7, 0 0 3px #A855F7 ,  0 0 10px #A855F7 ;
}

:root {
  --rounded-full: 9999px;
  --color-customPurple: rgb(30, 10, 60);
  --color-customPink: #EF76D9;
  --text-xsm: 0.5rem;
  --text-xsm--line-height: calc(0.5 / 0.5); /* ≈ 1.428571 */
}

.custom-pink-text {
  color: var(--color-customPink);
}

.text-xsm {
    font-size: var(--text-xsm) /* 0.2rem = 2px */;
    line-height: var(--tw-leading, var(--text-xsm--line-height) /* calc(0.5 / 0.2) ≈ 1.428571 */);
}

